body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}

div {
  border-width: 0;
  padding: 0;
  margin: 20px;
  text-align: center;
  word-wrap: break-word;
}

#o {
  border-width: 0;
  padding: 2px 7px;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#t {
  font-weight: bold;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
}
